<% if user_signed_in? %>
    <% if bookmarked?(current_user.id, request.path) %>
      <div id='bookmark_star' ><%= link_to image_tag("/assets/bookmarked.png", :style => "width:118px; height:34px;"), "/bookmarks/toggle?url=#{request.path}", :remote => true %></div>
    <% else %>
      <div id='bookmark_star' ><%= link_to image_tag("/assets/unbookmarked.png", :style => "width:118px; height:34px;"), "/bookmarks/toggle?url=#{request.path}", :remote => true %></div>
    <% end %>
<% end %>