<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "4").to_i %>  columns " style="padding:0 10px;">
  <div class="video-card" style="">
    <div class="video-card-thumb  text-center " style="height:190px; word-spacing:1.5px; font-size:1.1rem;color:#FFF;padding-top:15%; background:#ff9b9b;">


											<div style="padding:10px;">내가 몰랐던 또 다른 나를 만나는 기회</div>
											<hr style="margin:20px auto; width:40px; height:2px; line-height:4px; opacity:0.8; background:#efe1fa;">
											<div style="font-size:0.9rem;line-height:115%; padding:10px;color:#666;">
								        <%= link_to '뷰티모델에 지원하세요! <i class="fa fa-angle-right fa-fw"></i>'.html_safe, "http://blog.beautymeets.com/60205091098" %></div>
    </div>
  </div>
</div>