
							 	<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "3").to_i %>  columns " >
								  <div class="tutorial-card" style="">
								    <a class="tutorial-card-thumb text-center " href="/notices?makeup_request=true" style="word-spacing:1.5px; font-size:1.1rem;color:#FFF;padding-top:20%; background:#ff9b9b;">
								    	BEAUTYMEETS
								    	<hr style="margin:20px auto; width:40px; height:2px; line-height:4px; opacity:0.8; background:#efe1fa;">
								      <div style="font-size:0.9rem;line-height:115%; color:#333;">내가 몰랐던 또 다른 나를 만나는 기회</div>
								    </a>

								    <div class="tutorial-card-desc" style="">
								      <h6 class="tutorial-card-title subheader text-center"  style="line-height:105%; margin:10px;padding:0; ">
								        <%= link_to '뷰티모델에 지원하세요! <i class="fa fa-angle-right fa-fw"></i>'.html_safe, "http://blog.beautymeets.com/60205091098" %>
								      </h6>
								    </div>

								  </div>
								</div>