<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "4").to_i %>  columns " style="padding:0 10px;">
  <div class="video-card" style="">
    <div class="video-card-thumb  text-center " style="height:190px; word-spacing:1.5px; font-size:1.1rem;color:#FFF;padding-top:25%; background:#4ce0c2;">


											<div style="padding:10px;">뷰티밋츠에서<br/>
											새로운 소식이 있어요!</div>
											<hr style="margin:20px auto; width:40px; height:2px; line-height:4px; opacity:0.8; background:#efe1fa;">
											<div style="font-size:0.9rem;line-height:115%; padding:10px;color:#666;">
												<%= link_to '소식확인하기 <i class="fa fa-angle-right fa-fw"></i>'.html_safe, notices_path %></div>
    </div>
  </div>
</div>
