<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "3").to_i %>  columns " >
  <div class="tutorial-card" style="">
    <div class="tutorial-card-thumb text-center " style="word-spacing:1.5px; font-size:1.1rem;color:#FFF;padding-top:20%; background:#ff9b9b;">
    	BEAUTYMEETS
    	<hr style="margin:20px auto; width:40px; height:2px; line-height:4px; opacity:0.8; background:#efe1fa;">
      <div style="font-size:0.9rem;line-height:115%; color:#333;">뷰티밋츠를 사용하며<br/>
      불편한점, 아쉬운점.</div>
    </div>
      <div class="tutorial-card-desc" style="">
        <h6 class="tutorial-card-title subheader text-center"  style="line-height:105%; margin:10px;padding:0; ">
          고치고 싶은점을 알려주세요 <i class="fa fa-angle-right fa-fw"></i>
        </h6>
      </div>
  </div>
</div>