<div class="small-12 medium-<%= 12 / (local_assigns[:cards_in_row] || "4").to_i %>  columns " style="padding:0 10px;">
  <div class="video-card" style="">
    <div class="video-card-thumb  text-center " style="height:190px; word-spacing:1.5px; font-size:1.1rem;color:#FFF;padding-top:25%; background:#ff9b9b;">
      <div style="padding:10px;">뷰티밋츠를 사용하며<br/>
      불편한점, 아쉬운점.</div>
                      <hr style="margin:20px auto; width:40px; height:2px; line-height:4px; opacity:0.8; background:#efe1fa;">
                      <div style="font-size:0.9rem;line-height:115%;padding:10px; color:#666;">고치고 싶은 점을 알려주세요.</div>
    </div>
  </div>
</div>