<% if activity.trackable %>
<%= link_to image_tag(activity.trackable.thumbnail.image_url(:small), :class => "circular", :style => "width:40px; height:40px;"), activity.trackable %>
<%= link_to activity.owner.name || activity.owner.email, beautystar_path(activity.owner.profile) if activity.owner %>님이 새롭게 뷰티스타로 함께하게 되었습니다.
<%= link_to image_tag(activity.trackable.thumbnail.image_url(:medium)), tutorial_path(activity.trackable) %>

	<span class="pull-right" style=" color:#AAA;"><small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small></span>
<% end %>

