<% if activity.trackable %>

<div class="row">
  <div class="small-12  columns ">
		<%= link_to activity.owner.name.present? ? activity.owner.name : activity.owner.email, beautystar_path(activity.owner.profile) if activity.owner %>님의 프로필이 수정되었습니다.
	</div>
</div>

	<span class="pull-right" style=" color:#AAA;"><small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small></span>
<% end %>

