<% if activity.trackable %>
	<div class="row">
		<div class="small-12 columns ">
			<div class="head" >
				<%=  link_to image_tag(activity.trackable.thumbnail.image_url(:very_small)), tutorial_path(activity.trackable) if activity.trackable.thumbnail.present? %>
			</div>
			<div class="body">
				<%= link_to activity.owner.name || activity.owner.email, (activity.owner.has_role? :admin) ? "#" : beautystar_path(activity.owner.profile) if activity.owner %>
				<span class="description" style="">
					님이 <%= link_to activity.trackable.title, activity.trackable %> 튜토리얼을 업로드 하였습니다.
				</span>
				<span class="created_at" style=" ">
					<small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
				</span>
			</div>			
		</div>
	</div>
<% end %>