<div class="row">
  <div class="small-12 columns">
    <%= simple_form_for [@commentable, @comment] do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="medium-9 columns">
          <%= f.text_area :body, rows: 4, :placeholder => "궁금한 점을 남겨주세요" %>
        </div>
        <div class="medium-3 columns">
          <%= f.button :submit, "Comment It" %>
        </div>
      </div>

    <% end %>
  </div>
</div>