
					<div class="row" style="margin-bottom:5px; padding-left:2rem;">
						<div class="small-12 medium-12 columns">
							<h6 class="subheader" style="margin-bottom:0; color:#ccc;">
								<strong style="padding-bottom:10px;">ㄴ</strong>
								<%= reply.author.present? ? ((reply.author.name != "") ? reply.author.name : reply.author.email.split('@').first) : "사용자 정보가 존재하지 않습니다"  %> :
							</h6>
						</div>
						<div class="small-12 columns" style="padding-left:2rem;">
							<p style="margin-bottom:10px; line-height:110%; color:#999;">
								<%= reply.body %>
								<%= link_to "&nbsp;X".html_safe, [@commentable, reply], confirm: 'Are you sure?', method: :delete, remote: true  if user_signed_in? && current_user.can_update?(reply) %>
							
								<span class="right" style="color:#CCC;"><small><%= time_ago_in_words(reply.created_at) %> ago</small></span>
							</p>
						</div>
					</div>