<div class="row">
	<div class="small-12 small-centered " style="padding:0; ">
		<div id="tutorials">		
			<div class="list">	  
				<%= render partial: @tutorials, locals: { cards_in_row: local_assigns[:cards_in_row] }  %>
				</div>						
		</div>
  </div>
</div>