<div class="" style="background:#FFF; padding:6px; margin-bottom:20px;">
			<h6 class="subheader text-center"><strong>최근 추가된 화장품</strong></h6>
			<% if @latest_items.present? %>
				<div class="row">
				<% @latest_items.each do |item| %>
					<div class="small-6 medium-12 columns"  style="margin-bottom:2.0rem;" >
						<div class="text-center">
						<%= link_to image_tag(item.thumbnail.image_url(:small)), item_path(item) if item.thumbnail.present? %><br/>
						<span class="subheader" style="line-height:101%; width:auto; "><%= link_to truncate(item.name, 16), item_path(item) %></span>
						</div>
					</div>
				<% end %>
				</div>	
			<% end %>
		</div>