<% if @latest_tutorials.present? %>
	<h5>신규 튜토리얼</h5>
	<div class="row" style="margin-top:10px; margin-bottom:20px;">
	<% @latest_tutorials.each do |tutorial| %>
			<div class="small-12 medium-6 large-6 columns">
				<div class="row" style="padding:0 10px 4px 10px;">
					<div class="small-5 medium-12 columns" style="text-align:center; ">
						<a class="video-card-thumb th" href="<%= tutorial_path(tutorial) %>" style='
          background-position: center; border:0; width:100%; min-width:110px; max-width:150px; height:68px; background-size: 100%; background-image: url(<%= tutorial.thumbnail.present? ? "#{tutorial.thumbnail.image_url(:medium)}" : "#{tutorial.image_url(:medium)}" %>);'></a>
					</div>
					<div class="small-7 medium-12 columns  text-center" >
						<h6 style="line-height:101%; width:auto; "><%= link_to truncate(tutorial.title, 44), tutorial_path(tutorial) %></h6>
					</div>
				</div>
			</div>
	<% end %>
	</div>
<% end %>