
										<div class="panel " style="border:0; height:24rem; background-image: url('/assets/welcome_jumbo1.jpg');background-size:cover; background-position:center; ">
								      <div class="row">
								      	<div class="welcome-jumbo-desc small-12 medium-9 columns" style="">
													<h3  style="color:#FFF; letter-spacing:-0.5px;">
														청담동 아티스트의 진짜노하우 가득한<br/>
														1:1 온라인 무료 뷰티클래스,<br/>
														<span style="color:#9bfff4;">BEAUTYMEETS</span>
													</h3>
													<div style="margin-top:2.4rem;">
													<% if !user_signed_in? %>
											      <%= link_to image_tag("/assets/btn_join@2x.png", :alt => "가입하기", :class => "left", :style => "width:116px; height:40px; margin-right:10px;"), new_user_registration_path %>
											      <%= link_to image_tag("/assets/btn_login@2x.png", :alt => "로그인하기", :class => "left",  :style => "width:116px; height:40px;"), new_user_session_path  %>
													<% end %>
													</div>
												</div>
											</div>
										</div>