<% page_title "Welcome to BEAUTYMEETS" %>
<% page_desc "Discover, Learn, and Be beautiful in BEAUTYMEETS!!" %>
 	    	

<% if @latest_videos.present? %>
<div class="row"  style="margin-top:60px; margin-bottom:30px;">
	<div class="small-12 columns" >
		<div class="welcome-post-header" >
			<%= image_tag "/assets/hdr_latest_video
					@2x.png", :style => "width:auto; height:50px;" %>

			<%= link_to image_tag("/assets/btn_more@2x.png", :alt => "비디오 더 살펴보기", :class => "right welcome-post-more"), videos_path %>
		</div>

		<div class="row">
		<%= render @latest_videos %>
		</div>
	</div>
</div>
<% end %>
