<% if activity.trackable %>
	<div class="row">
		<div class="small-12 columns ">
			<div class="head" >
			</div>
			<div class="body">
				<p>새로운 공지사항입니다.    </p>
    				<%= link_to activity.trackable.title, activity.trackable %><br/>
    				<%= truncate(activity.trackable.description, 100) %>
				<span class="description" style="">
				</span>
				<span class="created_at" style=" ">
					<small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
				</span>
			</div>			
		</div>
	</div>
<% end %>
