<% if activity.trackable %>
	<div class="row">
		<div class="small-12 columns ">
			<div class="head" >
				<%=  link_to image_tag(activity.trackable.thumb_url, :style => "width: 64px; height: auto;"), video_path(activity.trackable) if activity.trackable.thumb_url.present? %> 
			</div>
			<div class="body">
				<span class="description" style="">
					<%= link_to activity.trackable.title, activity.trackable %> 뷰티비디오가 생성되었습니다.
				</span>
				<span class="created_at" style=" ">
					<small><%= time_ago_in_words(activity.trackable.created_at) %> ago</small>
				</span>
			</div>			
		</div>
	</div>
<% end %>