
<div class="small-12 medium-4 columns " style="margin-bottom:20px;">
  <div class="board-card">
    <div class="text-center" style="position: relative; margin:0 auto; ">
      <a class="post-card-thumb " href="<%= board_path(board) %>" style='background-image: url("<%= board.picture.image_url(:large) if board.picture.present? %>");'>
        <div  style=" padding:6px 8px;width:100%; background:rgba(255,255,255, 0.5); position:absolute; left:0; bottom:0; ">
          <span class="right " style="color:#515d61;"><%= truncate(board.try(:title), 26) %>&nbsp;<i class="fa fa-angle-right"></i></span>

        </div>
      </a>
    </div>
    <%= link_to "직접 들어가기", board_path(board) if user_signed_in? && current_user.can_update?(board) %>
  </div>  
</div>
