<h2>BEAUTYMEETS Says.</h2>
<%= link_to 'New Board', new_board_path %>

      <div class="row">
        <div class="small-12 small-centered columns" >
          <div id="boards">    
            <div class="list">    
              <%= render @boards %>
            </div>            
          </div>
        </div>
      </div>

      <div class="pagination-centered"><%= will_paginate @boards, previous_label: "&laquo;".html_safe, next_label: "&raquo;".html_safe , renderer: FoundationPagination::Rails %></div>


