<% if @items.present? %>
	<% @items.each do |item| %>
	<div class="row" style="margin-bottom:10px;">
		<div class="small-3 large-3 columns">
			<%= image_tag item.thumbnail.image_url(:small) %>
		</div>
		<div class="small-9 large-9 columns">
	        <span style="color:#000; font-size:14px; "><%= link_to item.name, item_path(item) %></span><br/>
	        <span class="" style="color:#666; font-size:12px; "><%= item.brand.try(:name) %></span>
		</div>
	</div>
	<% end %>
<% else %>
<% end %>
