
<div class="pin">

	<div class="text-center" >
		<%= link_to image_tag(item.thumbnail.image_url(:medium)), item_path(item) if item.thumbnail.present? %>
		<br/>
		<p>
		<h5 class="subheader"><small><strong><%= item.brand.name if item.brand.present? %></strong></small></h5>
		<h6 class="subheader" style="line-height:101%; width:auto; "><%= link_to truncate(item.name, 16), item_path(item) %></h6>
		<% if user_signed_in? && current_user.can_update?(item) %>
			<span class="left"><small><i class="fa fa-cog fa-fw"></i> <%= link_to 'Edit', edit_item_path(item) if user_signed_in? && current_user.can_update?(item) %></small></span>
		<% end %>
		</p>
	</div>

</div>