<% page_title "BEAUTYMEETS > 제품들 구경하기" %>
<% page_thumb "#{full_url(@items.first.thumbnail.image_url)}" if @items.first.thumbnail.present? %>
<% page_desc "Discovery, Learn, and Be beautiful in BEAUTYMEETS!!"  %>

<h2 class="text-center" style="padding:20px;"><strong><%= @items.count %></strong> ITEM</h2>

<br />
<%= link_to "<i class='fa fa-plus fa-fw'></i>New Item".html_safe, new_item_path if user_signed_in? && current_user.can_create?(Item) %>

<div id="wrapper">
  <div id="columns">
    <%= render @items %>
  </div>
</div>