<h2 class="text-center" style="padding:20px;">ITEM</h2>

<br />
<%= link_to 'New Item', new_item_path if user_signed_in? && current_user.can_create?(Item) %>


<div id="wrapper">
  <div id="columns">
    <%= render @items %>
  </div>
</div>