<h1>Listing channel_logs</h1>

<table>
  <tr>
    <th>Tutorial id</th>
    <th>Tutorial name</th>
    <th>Channel</th>
    <th>view</th>
    <th>like</th>
    <th>comment</th>
    <th>share</th>
    <th>Uploaded at</th>
  </tr>

<% @channel_logs.each do |channel_log| %>
    <%= render partial: "channel_log", :object => channel_log %>
<% end %>

</table>

<br />

<%= link_to 'New Channel log', new_channel_log_path %>
<%= link_to 'Get Log details', update_log_details_channel_logs_path %>
