// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activities {
	
}

.activity {
	margin-bottom:20px; 
	.head {
		float: left;
		margin-right:10px;
	}
	.body {
		padding-left:10px;
		.description {
			color:#AAA;
		}
		.created_at {
			float:right;
			color:#CCC;
		}
	}
}