  .table {
    display: table;  
  }
  .table-row {
      display: table-row;
  }
  .table-cell {
      display: table-cell;
      border: 1px solid #e9e9e9;
        border-width: thin;
        padding-left: 1px;
        padding-right: 1px;
      
  }

    #notification {
        display: none;
        position: fixed;
        cursor: pointer;
        width: 100%;
        background: #EFEFEF;
        text-align: center;
        /* border-top: 2px solid #FFF; */
        z-index:9999;
    }
  
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #666;
  &:first-letter { text-transform: uppercase };
}

.circular {
  border-radius:50% 50% 50% 50%;    
  -webkit-border-radius: 50% 50% 50% 50% ;
  -moz-border-radius: 50% 50% 50% 50% ;
  padding:5px;
  }

.circular img {
  opacity: 0;
  filter: alpha(opacity=0);
  }
.left-off-canvas-menu .off-canvas-list li {
  font-size:0.875rem;
}  


.tutorial-card {

  max-width:260px; 
  width:auto; 

  margin:0 auto; 
  background:#FFF; 
  padding:0; 
  margin-bottom: 20px;
  
  border: 1px solid #e9e9e9;

  /*
  -webkit-box-shadow:1px 2px 0 rgba(151, 151, 151, 0.2); 
  -moz-box-shadow: i1px 2px 0 rgba(151, 151, 151, 0.2); 
  box-shadow: 1px 2px 0 rgba(151, 151, 151, 0.2); 

  border-radius: 4px;
  -moz-border-radius:4px; 
  -webkit-border-radius: 4px; 
  -khtml-border-radius: 4px; 
  */
}

.tutorial-card-thumb {
  -moz-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.2);

  margin:0 auto;
  
  background-repeat: no-repeat; 
  background-size: 100%; 
  background-position: center; 

  max-width:260px; 
  width:100%; 
  
  height:176px;
  display:block; 
  letter-spacing:-1px;
}

.tutorial-card-desc {
   position: relative; 
   margin:0 auto; 
   height:60px; 
   padding:12px 10px;
}

.tutorial-card-title {
  letter-spacing:-0.5px;
}

.video-card {
  -webkit-box-shadow:1px 2px 0 rgba(151, 151, 151, 0.2); 
  -moz-box-shadow: i1px 2px 0 rgba(151, 151, 151, 0.2); 
  box-shadow: 1px 2px 0 rgba(151, 151, 151, 0.2); 

  border-radius: 4px;
  -moz-border-radius:4px; 
  -webkit-border-radius: 4px; 
  -khtml-border-radius: 4px; 

  background:#FFF; 
  margin:10px auto 30px auto; 
  max-width:290px; min-width:150px; width:auto;
  max-height:240px; min-height:220px; heigth:auto;

}


.video-card-thumb {
  -moz-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);

  margin:0 auto;
  
  background-repeat: no-repeat; 
  background-size:340px;
  background-position: center; 
  
  width:100%; 
  height:120px;

  /*
  border-radius: 4px 4px 0 0 ;
  -moz-border-radius:4px 4px 0 0 ;
  -webkit-border-radius: 4px 4px 0 0 ;
  -khtml-border-radius: 4px 4px 0 0 ;
  */
  display:block;
}

.video-card-title {
  line-height:110%; 
  height:2.2rem;
}

.post-card {

  /*
  border-radius: 4px;
  -moz-border-radius:4px; 
  -webkit-border-radius: 4px; 
  -khtml-border-radius: 4px; 
  */

  background:#FFF; 
  margin:10px auto 10px auto; 
  max-width:290px; min-width:160px; width:auto;
  height:180px;

}


.post-card-thumb {
  -moz-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.1);

  margin:0 auto;
  
  background-repeat: no-repeat; 
  background-size:cover;
  background-position: center; 
  
  width:100%; 
  height:180px;
  letter-spacing:-1px;

  /*
  border-radius: 4px;
  -moz-border-radius:4px ;
  -webkit-border-radius: 4px ;
  -khtml-border-radius: 4px  ;
  */
  display:block;
}

#wrapper {
  width: 100%;
  margin: 10px auto;
}

#columns {
  -webkit-column-count: 3;
  -webkit-column-gap: 15px;
  -webkit-column-fill: auto;
  -moz-column-count: 3;
  -moz-column-gap: 15px;
  -moz-column-fill: auto;
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  background: #FFF;
  // border: 2px solid #FAFAFA;
  // box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 15px 15px 10px 15px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  // border-bottom: 1px solid #ccc; 
  padding-bottom: 15px; 
  margin-bottom: 5px;
}

.pin p {
  margin: 0;
}

// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 
  
  #columns {
    margin: 0 auto;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }


} /* min-width 1025px, large screens */


.beautyclass-card {

  width:auto; 
  margin:0 auto; 
  background:#FFF; 
  
  -webkit-box-shadow:1px 2px 0 rgba(151, 151, 151, 0.2); 
  -moz-box-shadow: i1px 2px 0 rgba(151, 151, 151, 0.2); 
  box-shadow: 1px 2px 0 rgba(151, 151, 151, 0.2); 

  border-radius: 4px;
  -moz-border-radius:4px; 
  -webkit-border-radius: 4px; 
  -khtml-border-radius: 4px; 

}

.beautyclass-card-thumb {
  -moz-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 100px -50px rgba(0, 0, 0, 0.7);
  
  min-width:14rem; 
  max-width:40rem; 
  width:100%; 
  height:200px; 
  background-size:100%; 
  background-position:center;
  
  margin:0 auto;
  display:block; 
}
