// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media only screen and (max-width: 40em) { 

	#section0, #section1 {
		position:relative;
		background:rgba(0, 232, 216, 0.6);

		.bm_introduction, .app_introduction {
			position:absolute;
			top:0;
			width:100%;
		}
		.bm_introduction_inner, .app_introduction_inner {
			margin: 4px;
			text-align:left;
			height:100%;
		}
	}

	#section2, #section3, #section4 {
		position:relative;
		background:rgba(185, 185, 185, 0.6);

		.tutorial_introduction, .beautyvideo_introduction, .beautyclass_introduction {
			position:absolute;
			top:0;
			width:100%;
		}
		.tutorial_introduction_inner, .beautyvideo_introduction_inner, .beautyclass_introduction_inner {
			margin: 4px;
			text-align:left;
			height:100%;
		}
	}

	.beautyvideo_introduction, .beautyclass_introduction {
		text-align:right;	
	}

	.bm_introduction, .app_introduction, .tutorial_introduction, .beautyvideo_introduction, .beautyclass_introduction {

		h1, h2, h3, h4, h5, p {
			color:#FFF;
			text-align:left;
		}	
	}
}

@media only screen and (min-width: 40.063em) { 

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0, 
	#section1,
	#section2,
	#section3, 
	#section4 {
		background-size: cover;
	}

	/* Defining each sectino background and styles 
	* --------------------------------------- */
	#section0 {
		background-image: url(/assets/about_intro_bg.png);

		.bm_introduction {
			background:rgba(0, 232, 216, 0.6);
			height:100%;
		}
		.bm_introduction_inner {
			margin: 160px 40px;
		}
	}

	#section1 {

		background-image:url(/assets/about_intro_bg.png);

		.app_introduction {
			height: 100%;
			background:rgba(0, 232, 216, 0.6);
		}
		.app_introduction_inner {
			margin: 160px 40px;
		}

	}

	#section2 {
		background-image: url(/assets/about_tutorial_bg.png);
		position: relative;

		.tutorial_introduction {
			position:absolute;
			top:100px;
			left:40px; 
		}
	}

	#section3 {
		background-image: url(/assets/about_beautyvideo_bg.png);
		padding: 50px 100px;

		.beautyvideo_introduction {
			width: 100%;
			top:0; 
		}
	}

	#section4 {
		background-image: url(/assets/about_beautyclass_bg.png);
		padding: 50px 90px;
	}

	.beautyvideo_introduction, .beautyclass_introduction {
		text-align:right;	
	}

	.bm_introduction, .app_introduction, .tutorial_introduction, .beautyvideo_introduction, .beautyclass_introduction {

		h1, h2, h3, h4, h5, p {
			color:#FFF;
			text-align:left;
		}	
	}
}