// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@media only screen and (max-width: 40em) { 
	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0, 
	#section1,
	#section2,
	#section3, 
	#section4 {
		background-size: 200%;
		
		background-repeat: no-repeat;
	}

	#section0, #section1 {

		position:relative;
		background-image: url(/assets/about_intro_bg.png);
		background-position: center 0;
		
		.bm_introduction, .app_introduction {
			position:absolute;
			bottom:40px;
			background:rgba(0, 232, 216, 1.0);
			width:100%;
		}
		.bm_introduction_inner, .app_introduction_inner {
			padding: 20px;
			text-align: center;
			height:100%;
			
		}
	}
	
	#section2 {
		background-image: url(/assets/about_tutorial_bg.png);
		background-position: center 0;
	}
	#section3 {
		background-image: url(/assets/about_beautyvideo_bg.png);
		background-position: 0 0;
	}
	#section4 {
		background-image: url(/assets/about_beautyclass_bg.png);
		background-position: -50px -30px;
	}
	
	
	
	#section2, #section3, #section4 {
		position:relative;
		/* background:rgba(51, 51, 51, 1.0); */

		.tutorial_introduction, .beautyvideo_introduction, .beautyclass_introduction {
			background:rgba(51, 51, 51, 1.0);
			position:absolute;
			bottom:20px;
			width:100%;
		}
		.tutorial_introduction_inner, .beautyvideo_introduction_inner, .beautyclass_introduction_inner {
			padding: 20px;
			text-align: center;
			height:100%;
		}
	}

	.beautyvideo_introduction, .beautyclass_introduction {
		text-align: center;
	}

	.bm_introduction, .app_introduction, .tutorial_introduction, .beautyvideo_introduction, .beautyclass_introduction {

		h1, h2, h3, h4, h5, p {
			color:#FFF;
			text-align: center;
		}	
	}
}

@media only screen and (min-width: 40.063em) { 

	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0, 
	#section1,
	#section2,
	#section3, 
	#section4 {
		background-size: cover;
	}

	/* Defining each sectino background and styles 
	* --------------------------------------- */
	#section0 {
		background-image: url(/assets/about_intro_bg.png);

		.bm_introduction {
			background:rgba(0, 232, 216, 0.6);
			height:100%;
		}
		.bm_introduction_inner {
			margin: 160px 40px;
		}
	}

	#section1 {

		background-image:url(/assets/about_intro_bg.png);

		.app_introduction {
			height: 100%;
			background:rgba(0, 232, 216, 0.6);
		}
		.app_introduction_inner {
			margin: 160px 40px;
		}

	}

	#section2 {
		background-image: url(/assets/about_tutorial_bg.png);
		position: relative;

		.tutorial_introduction {
			position:absolute;
			top:100px;
			left:40px; 
		}
	}

	#section3 {
		background-image: url(/assets/about_beautyvideo_bg.png);
		padding: 50px 100px;

		.beautyvideo_introduction {
			width: 100%;
			top:0; 
		}
	}

	#section4 {
		background-image: url(/assets/about_beautyclass_bg.png);
		padding: 50px 90px;
	}

	.beautyvideo_introduction, .beautyclass_introduction {
		text-align:right;	
		h1, h2, h3, h4, h5, p {
			color:#FFF;
			text-align:right;
		}	
	}
	
	.beautyvideo_introduction_inner, .beautyclass_introduction_inner {
		float:right;
	}

	.bm_introduction, .app_introduction, .tutorial_introduction {

		h1, h2, h3, h4, h5, p {
			color:#FFF;
			text-align:left;
		}	
	}
}