// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// mobile(small)-only
@media only screen and (max-width: 40em) { 
	.welcome-jumbo {
		 padding:0;
	}

	.welcome-tutorial-header {
		padding:0 10px;height:50px;
		max-width:280px; margin:0 auto; 	
		position:relative;
	}
	.welcome-post-header {
		padding:0 10px;
		height:40px;
		max-width:300px; 
		position:relative;
		margin:0 auto; 	
	}

  .welcome-tutorial-card-outter {
    padding:20px 10px 0 10px; 
    background:#FCFCFC;
  }

	.welcome-item-outter {
		padding:0 20px 0 20px; 
		background:#FCFCFC;
	}

	.welcome-jumbo-desc {
		margin-top:11.8rem; 
	}
}

@media only screen and (min-width: 40.063em)  { 
	.welcome-jumbo {
		 padding:0 11px;
	}

	.welcome-tutorial-header { 
		padding:0 10px;height:50px;
		position:relative;
	}

	.welcome-post-header {
		padding:0 10px 0 20px;
		height:50px;
		position:relative;
	}

  .welcome-tutorial-card-outter {
    padding:20px 10px 0 10px; 
    background:#FCFCFC;
  }


	.welcome-item-outter {
		padding:20px 20px 0 20px; 
		background:#FCFCFC;
	}

	.welcome-jumbo-desc {
		margin-top:9rem; 
		margin-left:2rem;
	}
} 

.welcome-post-more {
	width:80px; height:20px;
	position: absolute;
	z-index:5; 
	right:3px;
	top:3px;
}

.welcome-tutorial-more {
	position:absolute; 
	z-index:5; 
	right:10px; 
	top:0;
}

.welcome-item-cell {
  border: 1px solid #e9e9e9; 
  background:#FFF; 
  width:130px; 
  height:118px;
}

.welcome-item-header {
	max-width:260px; 
	width:auto; 
	margin:0 auto; 
	height:50px; 
	position:relative;
}

.welcome-item-more {
	position:absolute; 
	z-index:5; 
	right:0; 
	top:0;
}