<div class="row">
  <div class="small-12 columns">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=600x300&sensor=false&zoom=16&markers=#{location.latitude}%2C#{location.longitude}" %>
  </div>
</div>
