<div id="footer" class="text-center" style="padding:10px; margin-top:2rem;">
	<h6>Discover, Learn, and Be beautiful in BEAUTYMEETS</h6>
		<p style="padding:10px; font-size:0.785rem; margin-top:14px;">
				<%= link_to "What is BEAUTYMEETS?", about_path %> 
		</p>
	<div class="row">
		<div class="small-12 columns" style="font-size:0.785rem;color:#ABABAB; padding:0 10px 5px 10px; line-height:115%;">              			
			상호 : 리올플레이 | 대표 : 윤미진 | 서울시 서초구 우면동 17번지 KT 연구개발센터 4층 <br/> 사업자등록번호 : 220-09-31513 | 통신판매업:제 2013-서울서초-0785 | 문의 : 070-8260-6119(10AM ~ 7PM, hellobeauty@reallplay.com)  <br/>
			            
			Copyright 2013 <strong>BEAUTYMEETS</strong> All Rights Reserved.
		</div>
	</div>
</div>