<div id="footer" class="text-center" style="padding:10px; margin-top:2rem;">
	<h6>Discover, Learn, and Be beautiful in BEAUTYMEETS</h6>
		<p style="padding:10px; font-size:0.785rem; margin-top:14px;">
				<%= link_to "What is BEAUTYMEETS?", about_path %> | 
				<%= link_to "공지사항", notices_path %>
		</p>
	<div class="row">
		<div class="small-12 columns" style="font-size:0.785rem;color:#ABABAB; padding:0 10px 5px 10px; line-height:115%;">              
		</div>
	</div>
</div>