  <header id="header" class=" header header--fixed animated slideDown" role="banner" >
    <div class="container" >

      <nav id="nav" class="top-bar nav-wrapper" role="navigation" data-topbar>

        <ul class="title-area" >
          <!-- Title Area -->
          <li class="name" >
            <h1><a href="/"><%= image_tag "/assets/logo_pink.png", :style => "min-width:100px; width:auto; max-width:150px; min-width:14px; height:auto; max-height:20px;" %></a></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          
          <% if @notifications && (@notifications.count > 0) %>
            <li class="toggle-topbar menu-icon"><a href="#" style='color:#71bdc2;'><span>NEW!</span></a></li>
          <% else %>
            <li class="toggle-topbar menu-icon"><a href="#"><span>MENU</span></a></li>
          <% end %>
        </ul>

        <section class="top-bar-section" >
          <!-- Right Nav Section -->
          <ul class="nav right" >
            <li class="nav__item " >
              <% if @notifications && (@notifications.count > 0) %>
                <%= link_to "<i class='fa fa-bell fa-fw' style='color:#71bdc2;'></i>#{@notifications.count}".html_safe, member_notifications_path(current_user.profile) if current_user.has_role? :member %>   
              <% else %>
                <%= link_to "<i class='fa fa-bell-o fa-fw'></i>".html_safe, member_notifications_path(current_user.profile) if user_signed_in? && (current_user.has_role? :member) %>   
              <% end %>              
            </li>

            <li ><%= link_to "Creator 영상보기", videos_path, {:style => "font-weight:bold; color:#elelel;"} %></li>

            
          </ul>
          </selection>
        </nav>
        
    </div>
  </header>