<div class="row" >
  <div class="small-12 columns"> 
  	<div style="height:70px; position:relative; ">
			<h4 class="subheader" style="letter-spacing:-0.1px; position:absolute; bottom:10px; width:auto;">
				My Page
    	</h4>
    </div>
  </div>    
</div>