<%= render 'member_header' %>

<div class="row">
	<div class="small-12 columns" style="background:#FFF;  padding:20px;">
		<%= render 'sub_nav' %>
		<h5 class="subheader"><%= @bookmarks.count %> 개의 북마크가 있습니다.</h5>
		<%= render @bookmarks %>
	</div>
</div>