
<div class="row">
	<div class="small-12 medium-3 columns text-right show-for-medium-up">
		<%= render 'side_nav' %>
	</div>
	<div class="small- medium-9 columns" style="background:#FFF;">
		<%= render 'sub_nav' %>
		<h5 class="subheader"><%= @bookmarks.count %> favorites you marked</h5>
		<%= render @bookmarks %>
	</div>
</div>